include ../tick-box/tick-box
include ../ripple-btn/ripple-btn
mixin message-form(data = {})
  -
    const {
      nameField = '',
      emailField = '',
      nameFieldPlaceholder = 'Your Name',
      emailFieldPlaceholder = 'Your Email',
      messageFieldPlaceholder = 'Your Message',
      messageField = '',
      isShowedPolicy = false,
      policy = {
        isShowed: false,
        title: 'Я согласен на обработку',
        policyText: 'персональных данных',
        policyLink: 'https://policy.com/'
      },
    } = data;
  form.message-form.js-message-form
    .message-form__fields
      .message-form__item
        input.js-form-name.message-form__field(type="text" id= nameField name= nameField placeholder= nameFieldPlaceholder)
        label.message-form__field-status.js-field-status(for= nameField)
    .message-form__fields
      .message-form__item
        input.js-form-email.message-form__field(type="email" id= emailField name= emailField placeholder= emailFieldPlaceholder)
        label.message-form__field-status.js-field-status(for= emailField)
    .message-form__fields
      textarea.message-form__item.message-form__textarea(id= messageField placeholder= messageFieldPlaceholder)
    - if (policy.isShowed)
      .message-form__policy
        .message-form__policy-item
          +tick-box('policy-accept')
        .message-form__policy-item
          p.message-form__policy-text= policy.title
        .message-form__policy-item
          a(href= policy.policyLink).message-form__policy-href= policy.policyText
    .message-form__submit-btn
      +ripple-btn({theme: 'mint', size: 'large', text: 'Submit', isReversedColor: true})