.form__container
    mixin formMessage(formName, NameField, emailField, messageField)
        form(action="#" class="message__items" id="message__form" class= ''+formName)
            .fields
                input(type="text" id="userName" name="userName" class="message__name form__items" class =''+NameField placeholder="Your Name")
                label(for="userName" class="name__status")
            .fields
                input(type="email" id="userEmail" name="userEmail" class="message__email form__items" class= ''+emailField placeholder="Your Email")
                label(for="userEmail" class="email__status")
            .fields
                textarea(id="userMessage" class="form__items form__items__textarea" class= ''+messageField placeholder="Your Message")
                label(for="userMessage" class="messagetext__status")
            +button('c-button--orange', 'form__items_submit', 'Submit')

//первым заполняется имя всей формы, далее класс username, useremail, usermessage