mixin message-form(data = {})
  -
    const {
      nameField = '',
      nameFieldPlaceholder = 'Your Name',
      emailField = '',
      emailFieldPlaceholder = 'Your Email',
      messageFieldPlaceholder = 'Your Email',
      messageField = '',
    } = data;
  form(class="js-message-form message-form__container")
    .message-form__fields
      input(type="text" id= nameField name= nameField class="message-form__name message-form__item "+ nameField placeholder= nameFieldPlaceholder)
      label(for= nameField class="message-form__field-status")
    .message-form__fields
      input(type="email" id= emailField name= emailField class="message-form__email message-form__item "+ emailField placeholder= emailFieldPlaceholder)
      label(for= emailField class="message-form__field-status")
    .message-form__fields
      textarea(id= messageField class="message-form__item message-form__textarea "+ messageField placeholder= messageFieldPlaceholder)
    +button({theme: 'mint', size: 'hight', text: 'Submit', isReversedColor: true})