.message {
    &__form-container {
        display: flex;
        flex-direction: column;
    }
    
    &__fields {
        display: flex;
        align-items: flex-end;

        .text-error {
            background-color: $orange-template;
        }

        .text-success {
            background-color: $mint-template;
        }

        input {
            width: 25.35rem;
            height: 3.5rem;
            position: relative;
            font-size: 1.74rem;
            font-family: Source Sans Pro;
        }

        textarea {
            height: 10.8rem;
            width: 35.2rem;
            display: flex;
            padding-bottom: 5px;
            flex-wrap: wrap;
            resize: none;
            font-size: 1.74rem;
            font-family: Source Sans Pro;
        }
    }

    &__form-item {
        margin-top: 1.27rem;
        border-radius: 4px;
        border: none;
        background-color: $gray-template;
        padding-left: 21px;
        padding-right: 12px;
        position: relative;
    }

    &__form-textarea {
        padding-top: 12px;
        font-family: Source Sans Pro;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-weight: bold;
        }   
    }

    &__button-submit {
        width: 14.4rem;;
        height: 4rem;
        background-color: $mint-template;
        color: white;
        font-family: lato black;
        text-transform: uppercase;
        outline: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        margin-top: 1.2rem;
        box-shadow: 0px 3px 1px -1px darken($mint-template, 15%);
        padding: 0;
        align-self: flex-end;
    
        &:active{
            transform: scale(0.9);
        }
        p{
            font-size: 1.3rem;
        }
    }
}


//Сообщение об ошибке + анимация

.field-status {
    border-radius: 6px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    width: 8.7rem;
    height: 3.5rem;
    background-color: inherit;
    margin-left: 12px;
    animation: 0.8s flash;
    font-family: Lato black;
    font-size: 1.3rem;
}

@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
