include ../tick-box/tick-box
include ../ripple-btn/ripple-btn
mixin message-form(data = {})
  -
    const {
      nameField = '',
      emailField = '',
      nameFieldPlaceholder = 'Your Name',
      emailFieldPlaceholder = 'Your Email',
      messageFieldPlaceholder = 'Your Message',
      messageField = '',
      isShowedPolicy = false,
      policy = {
        isShowed: false,
        title: 'Я согласен на обработку',
        policyText: 'персональных данных',
        policyLink: 'https://policy.com/'
      },
    } = data;
  form(class="js-message-form message-form message-form__container")
    .message-form__fields
      input(type="text" id= nameField name= nameField class="message-form__name message-form__item "+ nameField placeholder= nameFieldPlaceholder)
      label(for= nameField class="message-form__field-status")
    .message-form__fields
      input(type="email" id= emailField name= emailField class="message-form__email message-form__item "+ emailField placeholder= emailFieldPlaceholder)
      label(for= emailField class="message-form__field-status")
    .message-form__fields
      textarea(id= messageField class="message-form__item message-form__textarea "+ messageField placeholder= messageFieldPlaceholder)
    - if (policy.isShowed)
      .message-form__policy.message-form__policy-item
        span.message-form__policy-item
          +tick-box('policy-accept')
        p.message-form__policy-text.message-form__policy-item= policy.title
          a(href= policy.policyLink).message-form__policy-href.message-form__policy-item= policy.policyText
    .message-form__submit-btn
      +ripple-btn({theme: 'mint', size: 'large', text: 'Submit', isReversedColor: true})