.form__container
    mixin formMessage(formName, NameField, emailField, messageField)
        form(id="message__form" class= formName)
            .fields
                input(type="text" id= NameField name= NameField class="message__name form__items "+ NameField placeholder="Your Name")
                label(for= NameField class="name__status")
            .fields
                input(type="email" id= emailField name= emailField class="message__email form__items "+ emailField placeholder="Your Email")
                label(for= emailField class="email__status")
            .fields
                textarea(id= messageField class="form__items form__items__textarea "+ messageField placeholder="Your Message")
                label(for= messageField class="messagetext__status")
            +button('c-button--orange', 'form__items_submit', 'Submit')

//первым заполняется имя всей формы, далее класс username, useremail, usermessage