mixin dropdown ({ placeholder = 'Choose an option', optionList = [] })
  section.dropdown.js-dropdown
    .dropdown__selected-option-area.js-dropdown__selected-option-area(tabindex="0")
      .dropdown__selected-option-area-text.js-dropdown__selected-option-area-text= placeholder
      .dropdown__selected-option-area-btn
    ul.dropdown__label.js-dropdown__label(tabindex="0")
      each item in optionList
        li.dropdown__label-item.js-dropdown__label-item(tabindex="0")= item.text