mixin dropdown (options = {})
  -
    const {
      placeholder = 'Choose an option',
      optionList = [],
    } = options;
  section.dropdown.js-dropdown-widget
    .dropdown__area.js-dropdown-textarea(tabindex="0")
      .dropdown__area-text.js-dropdown-text-inner= placeholder
      .dropdown__area-btn
    ul.dropdown__label.js-dropdown-menu(tabindex="0")
      each item in optionList
        li.dropdown__label-item.js-dropdown-label-item(tabindex="0")= item.text