mixin dropdown (options = {})
  -
    const {
      placeholder = 'Choose an option',
      optionList = [],
    } = options;
  section.dropdown.js-dropdown
    .dropdown__area.js-dropdown__area(tabindex="0")
      .dropdown__area-text.dropdown__area-text= placeholder
      .dropdown__area-btn
    ul.dropdown__label.js-dropdown__label(tabindex="0")
      each item in optionList
        li.dropdown__label-item.js-dropdown__label-item(tabindex="0")= item.text