mixin ripple-btn(button = {})
  -
    let {
      buttonType = 'submit',
      theme = 'orange',
      size = 'small',
      isResponsive = false,
      isReversedColor = false,
      text = 'text',
    } = button;

    size = ` ripple-btn_size_${size}`;
    theme = ` ripple-btn_theme_${theme}`;

    theme = isReversedColor ? `${theme}-reverse` : theme;

    let className = 'ripple-btn js-ripple-btn ' + theme + size;
    className += !!isResponsive ? ' ripple-btn_width_responsive' : '';


  button(type= buttonType class= className)
    .ripple-btn__ripple-effect.js-ripple-btn__ripple-effect
      span.ripple-circle.js-ripple-circle
    p.ripple-btn__text= text