mixin header-nav()
  -
   const data = require("../../assets/data/data.json");
  .header-nav
    ul.header-nav__links
      each page in data.pages
        li
          a(href= page.url).header-nav__links-item= page.name