extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/ripple-button/ripple-button
include ../../components/input-label/input-label

block title
  title Login
block content
  -
    const data = require('../../assets/data/data.json');
    const { pages } = data;
  .login
    header.login__header
      +header(pages)
    main.login__content
      form.login__form
        .login__form-control
          +input-label({ name: 'user-email', labelType: 'text', placeholder: 'Ваш логин' })
        .login__form-control
          +input-label({ name: 'user-email', labelType: 'password', placeholder: 'Ваш пароль' })
        +ripple-button({theme: 'mint', size: 'large', text: 'Вход в аккаунт' })
    footer.login__footer
      +footer({ title: 'Ilya sigidin' })