<div style="text-align: center; width: 100%; font:16px Arial, Helvetica, sans-serif;">1990 Population</div>
<div style="text-align: center; width: 100%; margin: 10px 0; font:12px Arial, Helvetica, sans-serif;">Top 5 largest countries by population (in millions)</div>

<!-- Target element for the igDoughnutChart -->
<div id="chart"></div>



<script src="https://code.jquery.com/jquery-3.1.1.js"></script>