.key {
  margin: 0 20px;
  background: white;
  padding: 10px;
}
.nameNcolour {
  margin: 2px 0;
}
.clrSq {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 6px;
}
svg#donut-chart {
  display: block;
  margin: 0 auto;
}

text.inner-circle {
  font-weight: 100;
  font-size: 16px;
  text-align: left;
}

.arc {
  cursor: pointer;
  stroke: white;
  stroke-width: 1.5px;
}
.arc:hover {
  opacity: .85;
}
.arc text {
  font-weight: 300;
  font-size: 18px;
  stroke: none;
}
