extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/buttons-section/buttons-section
include ../../components/arrows-section/arrows-section
include ../../components/charts-section/charts-section
include ../../components/sliders-section/sliders-section
include ../../components/stages-section/stages-section
include ../../components/form-section/form-section
include ../../components/search-dropdown-section/search-dropdown-section
include ../../components/profile-section/profile-section
include ../../components/news-events-section/news-events-section
include ../../components/location-section/location-section
include ../../components/calendar-section/calendar-section
include ../../components/messaging-section/messaging-section
include ../../components/video-section/video-section

block title
  title
    | UI kit

block content
  -
    const data = require('../../assets/data/data.json');
    const { pages } = data;
  .ui-kit
    header.ui-kit__header
      +header(pages)
    main.ui-kit__content
      section.ui-kit__buttons
        +buttons-section({ title: 'Standard buttons' })
      section.ui-kit__arrows
        +arrows-section({ title: 'Arrow buttons' })
      section.ui-kit__charts
        +charts-section({ title: 'Percentages / pie chart' })
      section.ui-kit__sliders
        +sliders-section({ title: 'Sliders' })
      section.ui-kit__stages
        +stages-section({ title: 'Stages' })
      section.ui-kit__forms
        +form-section({ mainTitle: 'Form elements', togglesTitle: 'Toggles', boxesTitle: 'Tick boxes' })
      section.ui-kit__search-and-profile
        section.ui-kit__search
          +search-dropdown-section({ title: 'Search / drop down' })
        section.ui-kit__profile
          +profile-section({ title: 'User profile' })
      section.ui-kit__news-events
        +news-events-section({ title: 'News & events' })
      section.ui-kit__location
        +location-section({ title: 'Location' })
      section.ui-kit__calendar-and-messaging
        section.ui-kit__calendar
          +calendar-section({ title: 'Calendar' })
        section.ui-kit__messaging
          +messaging-section({ title: 'Messaging' })
      section.ui-kit__video
        +video-section({ title: 'Video' })
    footer.ui-kit__footer
      +footer({ title: 'Ilya sigidin' })
