.ui-kit {
  &__content {
    max-width: 836px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
  }

  &__arrows {
    margin-top: 6.2rem;
  }

  &__charts {
    margin-top: 5.4rem;
  }

  &__sliders {
    margin-top: 2.4rem;
  }

  &__forms {
    margin-top: 5rem;
  }

  &__stages {
    margin-top: 7rem;
  }

  &__search-and-profile {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
  }

  &__search {
    flex: 1;
  }

  &__profile {
    flex: 1.06;
  }

  &__news-events {
    margin-top: 9rem;
  }

  &__location {
    margin-top: 5.5rem;
  }

  &__calendar-and-messaging {
    margin-top: 5.3rem;
    display: flex;
    justify-content: space-between;
  }

  &__video {
    margin-top: 6rem;
  }
}
