mixin arrow(direction, disabled, name)
    button(class="arrows" disabled= disabled, class= ''+name)
        div(class="arrow" class= ''+direction)

//- Подсказка:

//- 'true' = disabled
//- 'false' = enabled

//- 'arrow-left', 'arrow-right' и 'disabled'