// правило для всего тела кнопок
@import "../template/Global-variables.scss";

@mixin arrows__template($width: 6rem, $height: 6rem){
    position: relative;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #4eb7a8;
}
.arrows{
    @include arrows__template;
    position: relative;
}
.arrows:hover,
.arrows:focus{
    background-color: $mint-template;
    cursor: pointer;
}
// правило для иконки внутри тела кнопок
@mixin arrow__template($width: 30%, $height: 30%, $margin-left: 5px){
    height: $width;
    width: $width;
    position: absolute;
    top: 33%;
    left: 32%;
    border: 1px solid #4eb7a8;
    margin-left: $margin-left;
	border-width: 5px 5px 0 0;
	transform: rotate(45deg);
}
.arrow {
    @include arrow__template
}
// правило для поведения кнопок
.arrows:hover > .arrow,
.arrows:focus > .arrow{
    border: 1px solid white;
    border-width: 5px 5px 0 0;
    cursor: pointer;
}

.arrows:disabled{
    background-color: $gray-template;
    border: 1px solid $gray-template;
    border-width: 5px 5px 0 0;
}

.arrows:disabled > .arrow{
    border: 1px solid white;
    border-width: 5px 5px 0 0;
}

.arrow-left{
    transform: rotate(225deg);
    left: 32%;
}

.arrow-right{
    left: 14%;
}

.arrows:disabled > .arrow-left{
    left: 32%;
    top: 27%;
}

.arrows:disabled > .arrow-right{
    left: 17%;
    top: 20px;
}

.arrows:focus{
    outline: none;
}

.arrows:active{
    outline: none;
    transform: scale(0.9)
}