extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/input-label/input-label
include ../../components/register-section/register-section

block title
  title Register
block content
  -
    const data = require('../../assets/data/data.json');
    const { pages } = data;
  .register
    header.register__header
      +header(pages)
    main.register__content
      +register-section()
    footer.register__footer
      +footer('Ilya sigidin')