%remain-steps{
  &:before {
    content: counter(stepNum);
    font-family: inherit;
    font-weight: 700;
  }
  
  &:after{
    background-color: $grey-light;
  }
}
.multi-steps{
  display: flex;
  width: 100%;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font-family: 'Lato black', Arial, sans-serif;

  > li{
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: $orange-template;
    font-size: 16px;

    &:not(:last-child) {
      width: 100%;
    }

    &:before{
      content: counter(stepNum);
      display: block;
      margin: 0 0 auto 0px;
      background-color: $orange-template;
      color: white;
      width: 36px;
      height: 36px;
      line-height: 32px;
      text-align: center;
      font-weight: bold;
      border:{
        width: 2px;
        style: solid;
        color: $orange-template;
        radius: 50%;
      }
    }

    &:after{
      content: '';
      height: 2px;
      width: 100%;
      background-color: $orange-template;
      position: absolute;
      top: 16px;
      left: 13%;
      z-index: -1;
    }

    &:last-child{
      &:after{
        display: none;
      }
    }

    &.is-active{
      @extend %remain-steps;
      &:before{
        background-color: $orange-template;
        color: white;
        border-color: $orange-template;
      }

      ~ li{
        color: #808080;
        @extend %remain-steps;
        &:before{
          color: darken($grey-light, 40%);
          background-color: $grey-light;
          border-color: $grey-light;
        }
      }
    }
  }
}