mixin stages({ maxStep = '', currentStep = '' })
  section.stages
    ul.stages__multi-steps
      - for (let counter = 1; counter <= maxStep; counter += 1)
        -
          const stepClassName = counter === currentStep
          ? 'stages__multi-steps-item stages__multi-steps-item_active'
          : 'stages__multi-steps-item';
        li(class= stepClassName)
          span.stages__multi-steps-item-text= counter