.stages {
  width: 100%;

  &__multi-steps {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0;

    &-item {
      text-align: center;
      display: block;
      position: relative;
      font-size: 1.5rem;
      font-weight: 900;
      color: white;

      &:not(:last-child) {
        width: 100%;
      }

      &:before {
        content: '';
        display: block;
        margin: 0 0 auto 0;
        background-color: $orange-template;
        color: white;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        border: 2px solid $orange-template;
        border-radius: 50%;
      }

      &:after {
        content: '';
        height: 0.6rem;
        width: 100%;
        background-color: $orange-template;
        position: absolute;
        top: 1.3rem;
        left: 13%;
        z-index: -1;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &-text {
        position: absolute;
        left: 1.3rem;
        top: 0.7rem;
      }

      &_active {
        &:after {
          background-color: $gray-template;
        }

        ~ .stages__multi-steps-item {
          color: #808080;

          &:before {
            color: darken($gray-template, 40%);
            background-color: $gray-template;
            border-color: $gray-template;
          }

          &:after {
            background-color: $gray-template;
          }
        }
      }
    }
  }
}
