mixin stages(data = {})
  -
    const {
      maxStep = '',
      currentStep = '',
    } = data;
  section.stages
    ul.list-unstyled.multi-steps
      - for (var i = 0; i < maxStep; i += 1)
      - if ((i + 1) === currentStep)
        li.multi-steps__item.is-active
      - else
        li.multi-steps__item