mixin arrow-button(data = {})
  -
    const {
      direction = 'arrow-left',
      isDisable = false,
    } = data;
  button(class="arrow-button" disabled= isDisable)
    div(class="arrow-button__inner arrow-button_direction_" + direction)