mixin arrow-button(data = {})
  -
    const {
      direction = 'left',
      isDisabled = false,
    } = data;
  button(class="arrow-button arrow-button_direction_" + direction disabled= isDisabled)
    div(class="arrow-button__inner")