mixin arrow(direction, disabled, name)
    button(class="arrows__button" disabled= disabled, class= ''+name)
        div(class="arrows__arrow-inner" class= ''+direction)

//- Подсказка:

//- 'true' = disabled
//- 'false' = enabled

//- 'arrow-left', 'arrow-right' и 'disabled'