mixin arrow(data = {})
  -
    const {
      direction = 'arrow-left',
      isDisable = false,
      hookClassName = '',
    } = data;
  button(class="arrow-button " + hookClassName disabled= isDisable)
    div(class="arrow-button__inner arrow-button_direction_" + direction)