mixin arrow-button(data = {})
  -
    const {
      direction = 'left',
      isDisabled = false,
    } = data;
  button.arrow-button(class=`arrow-button_direction_${direction}` disabled= isDisabled)
    .arrow-button__inner