mixin arrow-button(data = {})
  -
    const {
      direction = 'left',
      isDisabled = false,
    } = data;
  button(class="arrow-button_direction_" + direction disabled= isDisabled).arrow-button
    .arrow-button__inner