mixin arrow-button(data = {})
  -
    const {
      direction = 'arrow-left',
      isDisabled = false,
    } = data;
  button(class="arrow-button" disabled= isDisabled)
    div(class="arrow-button__inner arrow-button_" + direction)