mixin arrow-button(data = {})
  -
    const {
      direction = 'left',
      isDisabled = false,
    } = data;
  button.arrow-button(disabled= isDisabled)
    .arrow-button__inner(class=`arrow-button__inner_direction_${direction}`)