.order {
  &__title {
    font-family: 'Lato black', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
  }

  &__widgets-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem auto 3rem auto;
  }

  &__dropdown-wrapper {
    max-width: 25rem;
    margin: 0 auto;
  }

  &__fully-state {
    position: fixed;
    bottom: 26vh;
    right: 3vw;
  }

  &__form-presentation-item {
    margin: 3rem 0;
  }

  &__form {
    &-slide-1 {
      display: flex;
      flex-direction: column;
    }
  }

  &__childrens {
    &-count {
      display: none;

      &_show {
        display: block;
      }
    }
  }

  &__room {
    &-picture {
      &-container {
        width: 60%;
        height: 30vw;
        margin: 0 auto;
      }

      &-title {
        font-family: 'Lato black', Arial, sans-serif;
        text-align: center;
        font-size: 2rem;
      }

      &-item {
        height: 100%;
        width: 100%;
        display: none;
        text-align: center;

        &_active {
          display: block;
        }

        img {
          height: 90%;
        }
      }
    }
  }

  &__checkout {
    @include media-screen($tablet) {
      flex-direction: column;
      align-items: center;
    }

    height: 89vh;
    display: none;
    justify-content: space-between;

    &_open {
      display: flex;
    }

    &-text {
      font-family: 'Lato Regular', Arial, sans-serif;
      font-size: 1.6rem;
    }

    &-label-control {
      margin-bottom: 2rem;
    }

    &-control {
      @include input-search();
    }
  }
}

input[type="checkbox"]:checked + .order__childrens-count {
  display: block;
}