include ../messaging/messaging

mixin assistant(data = {})
  -
    const {
      placeholder = 'Здравствуйте, чем я могу вам помочь?',
      avatarName = 'sarah-brown.jpg',
      avatar = require(`../../assets/images/${avatarName}`),
      helperName = 'Elena',
    } = data;
  section.assistant.js-assistant
    .assistant__start
      .assistant__request-avatar
        img.assistant__request-picture(src= avatar, alt="assistant-avatar")
    .assistant__messenger
      +messaging({ userName: helperName, placeholder: placeholder })