* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: 'Lato', Arial, sans-serif;
  background: white;
  color: black;

  @include media-screen($mediumScreen) {
    font-size: 10px;
  }

  @include media-screen($tablet) {
    font-size: 8px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}