@mixin percentage-chart($font-size: 5rem, $color: #9d9d9d){
  font-size: $font-size;
  color: $color;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin button__ripple-color-modify($color) {
  border: 1.5px solid $color;
  box-shadow: 0px 3.5px 1px -1px darken($color, 10%);
  color: $color;

  &:hover {
    background: $color;
  }

  &:active {
    box-shadow: none;
  }
}

@mixin button__ripple-size-modify($width, $height, $font-size) {
  width: $width;
  height: $height;
  font-size: $font-size;
}

@mixin arrows__template($width: 6rem, $height: 6rem){
  position: relative;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #4eb7a8;
  transition: .1s ease-in-out all;
}

// правило для иконки внутри тела кнопок
@mixin arrows__inner($width: 30%, $height: 30%){
  height: $width;
  width: $width;
  position: absolute;
  top: 33%;
  border: 1px solid #4eb7a8;
  border-width: 5px 5px 0 0;
}

@mixin getTheme ($color: #FFFFFF) {
  .back-bar {
    height: 5px;
    border-radius: 2px;
    background-color: #eeeeee;
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);

    .pointer {
      background-color: $color;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      top: -12px;
    }

    .selected-bar {
      background-color: $color;
    }

    .pointer-label {
      background: $color;
      top: -42px;
      width: 31px;
      height: 22px;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 5px;
    }
  }
}