@mixin percentage-chart($font-size: 4.5rem, $color: #9d9d9d){
  font-size: $font-size;
  color: $color;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Lato light', Arial, sans-serif;
}

@mixin button-size-modify($width: 9.2rem, $height: 2.5rem, $fontSize: 1.2rem) {
  width: $width;
  height: $height;
  font-size: $fontSize;
}

@mixin button-color-modify($color: $white, $background: $orange-template, $border: $orange-template) {
  color: $color;
  box-shadow: 0px 3.5px 1px -1px darken($border, 10%);
  background: $background;
  border: 1.5px solid $border;

  &:hover {
    background: $border;
  }

  &:active {
    box-shadow: none;
    transform: translate(0.1rem, 0.1rem);
  }
}

@mixin arrows__template($width: 6rem, $height: 6rem){
  position: relative;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: white;
  border: 3px solid #4eb7a8;
  transition: .1s ease-in-out all;
}

// правило для иконки внутри тела кнопок
@mixin arrows__inner($width: 30%, $height: 30%){
  height: $width;
  width: $width;
  position: absolute;
  top: 33%;
  border: 1px solid #4eb7a8;
  border-width: 0.4rem 0.4rem 0 0;
}

@mixin slider-theme ($color: #FFFFFF) {
  .back-bar {
    height: 0.6rem;
    border-radius: 8px;
    background-color: #eeeeee;
    background-color: #e7e7e7;
    background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
    background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
    background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);

    .pointer {
      background-color: $color;
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      top: -0.7rem;
    }

    .selected-bar {
      background-color: $color;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    .pointer-label {
      background: $color;
      top: -4.3rem;
      width: 4rem;
      height: 2.6rem;
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 5px;
      font-family: 'Lato black', Arial, sans-serif;

      &:after {
        content: "";
        width: 30%;
        height: 30%;
        transform: rotate(45deg);
        border-radius: 3px;
        background: $color;
        position: absolute;
        bottom: -3px;
      }
    }
  }

  .scale {
    top: 0.7rem;
    font-family: 'Lato black', Arial, sans-serif;

    span {
      border: none;
    }

    ins {
      font-size: 1.3rem;
    }
  }
}

@mixin calendar ($class, $width: 32.8rem) {
  #{$class} {
      width: $width;
      .datepicker {
          background-color: $orange-template;
          position: relative;

          &--current-day {
              height: 12.7rem;
              font-family: 'Lato Light', Arial, sans-serif;
              color: $white;
              font-size: 9rem;
              display: flex;
              align-items: center;
              justify-content: center;
          }

          &--nav {
              display: flex;
              justify-content: space-around;
              color: $white;
              height: 5rem;
              // background-color: darken($orange-template, 7);
              background: #d54c2c;

              &-title {
                  display: flex;
                  align-items: center;
                  font-family: 'Lato Light', Arial, sans-serif;
                  font-size: 2.6rem;
                  width: 59%;
                  justify-content: center;
              }
          }

          &--nav-action {
              width: 1.7rem;

              svg {
                  width: 100%;
                  height: 100%;
                  fill: $white;
              }
          }

          &--days-names {
              background-color: $orange-template;
              display: flex;
              justify-content: space-around;
              align-items: center;
              color: $white;
              text-transform: uppercase;
              height: 3.1rem;
              font-family: 'Lato black', Arial, sans-serif;
          }

          &--cells-days {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
              background-color: $gray-template;

              .-other-month- {
                  color: $white;
              }
          }

          &--cell-day {
              height: 4.53rem;
              border: 1px solid $white;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #868686;
              cursor: pointer;
              font-family: 'Source Sans Pro', Arial, sans-serif;
              font-size: 2.5rem;
          }

          .-selected-,
          .-current- {
              background-color: $orange-template;
              color: $white;
          }

          &--buttons {
              background-color: darken($gray-template, 10%);
              height: 5.8rem;
              display: flex;
              align-items: center;
              padding: 0 2.5rem;
          }

          &--button {
              font-size: 1.7rem;
              font-family: 'Lato black', Arial, sans-serif;
              text-transform: uppercase;
              color: #868686;
          }

          &--months,
          &--years {
              display: none;

              &.active {
                  display: block;
              }
          }

          &--cell-month,
          &--cell-year {
              font-family: 'Source Sans Pro', Arial, sans-serif;
              font-size: 2rem;
              color: $white;
              text-align: center;
              cursor: pointer;

              &:hover {
                  background: white;
                  color: $orange-template;
              }
          }
      }
  }
}

@mixin widget-news ($className, $width: 33.8rem) {
  #{$className} {
      width: $width;
      height: max-content;
      background-color: $orange-template;
      display: flex;
      overflow: hidden;
      position: relative;
      border-radius: 4px;
  
      &__picture {
          width: 33%;
          box-sizing: border-box;
          background-size: cover;
      }
  
      &__information {
          z-index: 2;
          width: 50%;
          margin: 0 auto;
          height: 100%;
          background-color: $orange-template;
          box-sizing: border-box;
      }

      &__title {
          font-family: 'Lato Light', Arial, sans-serif;
          font-size: 3.2rem;
          color: $white;
          margin: 15% 0 0 0;
          line-height: 3rem;
      }

      &__date {
          font-family: 'Lato Black', Arial, sans-serif;
          font-size: 1.45rem;
          margin: 7% 0 0 0;
          color: $white;
      }

      &__text {
          font-family: 'Lato Regular', Arial, sans-serif;
          font-size: 1.37rem;
          margin: 8% 0 3.9rem 0;
          color: $white;
      }
  }
}

@mixin widget-events ($className, $width: 33.8rem) {
  #{$className} {
      width: $width;
      height: max-content;
      background: $mint-template;
      display: flex;
      border-radius: 5px;

      &__picture {
          width: 33%;
          background-size: cover;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
      }

      &__information {
          width: 53%;
          margin: 0 auto;
      }
      
      &__date {
          font-family: 'Lato Light', Arial, sans-serif;
          font-size: 8rem;
          color: $white;
          margin: 8% 0 0 0;

          &-title {
              display: flex;
              justify-content: space-between;
          }
      }

      &__month {
          font-family: 'Lato Light', Arial, sans-serif;
          font-size: 3.5rem;
          color: $white;
          margin: 0;
          display: flex;
          align-items: flex-end;
          padding: 7%;
      }

      &__event {
          &-title {
              font-family: 'Lato Black', Arial, sans-serif;
              color: white;
              font-size: 1.6rem;
              text-transform: uppercase;
              margin: 2% 0 0 0;
          }

          &-text {
              font-family: 'Lato Regular', Arial, sans-serif;
              font-size: 1.43rem;
              margin: 2% 0 0 0;
              color: $white;
          }
      }

      #{$className} &__to-calendar {
        width: 100%;
        margin: 2rem 0 3rem 0;
        padding: 0 1.4rem;
        box-sizing: border-box;
      }
  }
}

@mixin media-screen($width) {
  @media (max-width: $width) {
    @content;
  }
}


