extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/reviews-section/reviews-section
include ../../components/stats-section/stats-section

block title
  title Контакты

block content
  -
    const data = require('../../assets/data/data.json');
    const { pages, reviews } = data;
  .reviews
    header.reviews__header
      +header(pages)
    main.reviews__content
      section.stats-section
        +stats-section()
      section.reviews-conatiner
        +reviews-section(reviews, 'Что о нас думают другие?')
    footer.reviews__footer
      +footer('Ilya sigidin')