extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/reviews-section/reviews-section
include ../../components/stats-section/stats-section

block title
  title Контакты

block content
  -
    const data = require('../../assets/data/data.json');
    const { pages, reviews } = data;
  .reviews
    header.reviews__header
      +header(pages)
    main.reviews__content
      section.stats-section
        +stats-section({
          statsTitle: 'Наша статистика',
          statsText: 'Мы работаем с 2010 года, и за 10 лет мы собрали довольно позитивную статистику, ниже приведён процент довольных клиентов:',
          donutTitle: 'Соотношение отзывов:',
          donutData: [
            { color: '#5ac832', fill: 90, desc: 'Положительных отзывов' },
            { color: '#d32727', fill: 3, desc: 'Негативных отзывов' },
            { color: '#b4b1b1', fill: 7, desc: 'Нейтральных отзывов' },
          ]
        })
      section.reviews-conatiner
        +reviews-section({ reviews, title: 'Что о нас думают другие?', })
    footer.reviews__footer
      +footer({ title: 'Ilya sigidin', })