extends ../../templates/main

include ../../components/header/header
include ../../components/footer/footer
include ../../components/contact-section/contact-section

block title
  title Контакты

block content
  -
    const data = require('../../assets/data/data.json');
    const { newsList, pages, searchLine, lastEvent, importantNews } = data;
    const contactItems = [
      {
        title: 'Хотите пообщаться?',
        paragraphs: ['Вы можете посетить наш офис по адресу:', 'Россия. Санкт-Петербург, Итальянская ул. 3 (БЦ рандомный, 2 этаж)'],
        contactType: 'communicate',
      },
      {
        title: 'Как мы работаем?',
        paragraphs: ['О работе нашей компании вы сможете увидеть в нашем видео ролике:'],
        contactType: 'about-work',
      },
      {
        title: 'Остались ещё вопросы?',
        paragraphs: ['Вы можете отправить нам сообщение, и мы ответим вам на почту'],
        contactType: 'any-question',
      },
    ];
  .contacts
    header.contacts__header
      +header(pages)
    main.contacts__content
      each contact in contactItems
        .contacts__item
          +contact-section(contact)
    footer.contacts__footer
      +footer({ title: 'Ilya sigidin' })