.contacts {
  &__title {
    font-family: 'Lato black', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
  }

  &__text {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 2rem;
  }

  &__widgets {
    width: 50%;
    margin: 3rem auto;

    @include media-screen($tablet) {
      width: 100%;
    }
  }
}
