// Настройки поля формы
.message__items{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    position: relative;
}

.fields{
    display: flex;
}

.form__items{
    margin-top: 13px;
    border-radius: 4px;
    border: none;
    background-color: #e5e5e5;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.form__items__textarea{
    padding-top: 12px;
    font-family: arial;
}

//Взаимодействие с пользователем
.form__items:focus{
    outline: none;
}

.form__items::placeholder{
    font-weight: bold;
}
// далее
input[type="text"],
input[type="email"]{
    width: 208px;
    height: 30px;
    position: relative;
}

textarea{
    height: 88px;
    width: 288px;
    display: flex;
    padding-bottom: 5px;
    flex-wrap: wrap;
    resize: none;
}
input[type="submit"]{
    width: 118px;
    height: 35px;
    background-color: #4eb7a8;
    color: white;
    font-size: 12px;
    font-family: lato;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

// Состояние
.name-error{
    width: 72px;
    height: 28px;
    background-color: #e75735;
    position: absolute;
    right: 13px;
    top: 14px;
    border-radius: 4px;
}
.email-error{
    width: 72px;
    height: 28px;
    background-color: #e75735;
    position: absolute;
    right: 13px;
    top: 57px;
    border-radius: 4px;
}

//Сообщение об ошибке + анимация

.text-error{
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    width: 72px;
    height: 28px;
    background-color: #e75735;
    margin-left: 8px;
    margin-top: 14px;
    animation: 0.8s flash;
}

.text-success{
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-transform: uppercase;
    color: white;
    width: 72px;
    height: 28px;
    background-color: #4eb7a8;
    margin-left: 8px;
    margin-top: 14px;
    animation: 0.8s flash;
}

@keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
