@mixin widget-events ($className, $width: 33.8rem, $height: 24.5rem) {
    #{$className} {
        width: $width;
        height: $height;
        background: $mint-template;
        display: flex;

        &__picture {
            width: 33%;
            background-size: cover;
        }

        &__information {
            width: 53%;
            margin: 0 auto;
        }
        
        &__date {
            font-family: 'Lato Light', Arial, sans-serif;
            font-size: 8rem;
            color: $white;
            margin: 8% 0 0 0;

            &-title {
                display: flex;
                justify-content: space-between;
            }
        }

        &__month {
            font-family: 'Lato Light', Arial, sans-serif;
            font-size: 3.5rem;
            color: $white;
            margin: 0;
            display: flex;
            align-items: flex-end;
            padding: 7%;
        }

        &__event {
            &-title {
                font-family: 'Lato Black', Arial, sans-serif;
                color: white;
                font-size: 1.6rem;
                text-transform: uppercase;
                margin: 2% 0 0 0;
            }

            &-text {
                font-family: 'Lato Regular', Arial, sans-serif;
                font-size: 1.43rem;
                margin: 2% 0 0 0;
                color: $white;
            }
        }

        #{$className} &__btn-add {
            background: $white;
            display: flex;
            justify-content: center;
            margin: 9% auto 0 auto;
            width: 86%;
            height: 3rem;
            font-size: 1.1rem;
            letter-spacing: 0.15rem;
            border-radius: 8px;

            &:hover {
                transform: translate(-3px, -3px);
                box-shadow: 4px 5px 1px -1px #3d9589;
                background: $white;
                color: $mint-template;
            }

            &:active {
                transform: translate(0, 0);
                box-shadow: 0px 3.5px 1px -1px #3d9589;
            }
        }
    }
}

@include widget-events('.widget-events')