mixin events(event = {})
  -
    const {
      picture = 'gray-bg.jpg',
      parsedPicture = require(`../../components/events/img/${picture}`),
      date = {
        day: '0',
        month: 'mon',
      },
      title = 'This is the title',
      text = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
      className = '',
    } = event;
  div(class="widget-events " + className)
    div(class="widget-events__picture" style=`background-image: url(${parsedPicture})`)
    div(class="widget-events__information")
      div(class="widget-events__information-wrapper")
        div(class="widget-events__date-title")
          p(class="widget-events__date")= date.day
          p(class="widget-events__month")= date.month
        h3(class="widget-events__event-title")=  title
        p(class="widget-events__event-text")=  text
        .widget-events__to-calendar
          +button({theme: "mint", size: "low", isResponsive: true, text: "Add to calendar"})