mixin Events(event)
    div(class= event.widgetClass)
        div(class= event.widgetClass + '__picture' style=`background-image: url(src/${event.picture})`)
        div(class= event.widgetClass + "__information")
            div(class= event.widgetClass + "__information-wrapper")
                div(class= event.widgetClass + "__date-title")
                    p(class= event.widgetClass + "__date")= event.date.day
                    p(class= event.widgetClass + "__month")= event.date.month
                h3(class= event.widgetClass + "__event-title")=  event.title
                p(class= event.widgetClass + "__event-text")=  event.text
                +button({theme: 'mint', size: 'hight', className: event.widgetClass+ '__btn-add', text: 'Add to calendar'})