mixin location({mapClass, welcomeText, address})
    div(id="map" class='location '+mapClass)
        .location__overlay
            .location__overlay-text-wrapper
                p.location__overlay-welcome-text= welcomeText
                p.location__overlay-address-text= address
            .location__overlay-controls-wrapper
                .location__overlay-controls-container
                    button.location__overlay-controls.location__overlay-btn-set-address.js-overlay-btn-set-address
                    button.location__overlay-controls.location__overlay-btn-find-marker.js-overlay-btn-find-marker