.location {
  position: relative;
  background: url('./img/location-fallen.jpg') no-repeat;
  background-size: cover;
  min-height: 32rem;
  width: 100%;
  border-radius: 5px;

  &__overlay {
    width: 100%;
    height: 8.5rem;
    position: absolute;
    bottom: 0;
    background: $orange-template;
    display: flex;
    align-items: center;
    padding: 0 3% 0 5%;
    z-index: 10;

    &-text-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      min-width: 49%;
    }

    &-welcome-text {
      font-family: 'Lato light', Arial, sans-serif;
      color: white;
      font-size: 3.4rem;
      white-space: nowrap;

      @include media-screen($mobile) {
        font-size: 2rem;
      }
    }

    &-address-text {
      font: 1.55rem/1.7rem 'Lato black', Arial, sans-serif;
      color: white;
      width: 17rem;
      text-transform: uppercase;
      padding-left: 4.5%;
    }

    &-controls {
      &-wrapper {
        display: flex;
        height: 100%;
        width: 50%;
        justify-content: flex-end;
        align-items: center;
      }

      &-container {
        width: 8rem;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;

        @include media-screen($tablet) {
          width: 10rem;
        }
      }
    }

    &-btn-find-marker,
    &-btn-set-address {
      padding: 0;
      border: none;
      outline: none;
      background: none;
      width: 33px;
      height: 33px;
      cursor: pointer;
    }

    &-btn-set-address {
      background: url('./img/location.png') no-repeat;
      background-size: contain;
    }

    &-btn-find-marker {
      background: url('./img/pin.png') no-repeat;
      background-size: contain;
    }
  }
}
