mixin location({ welcomeText = '', address = '', coords = '' })
  div.location.js-location(data-coords = coords)
    .location__overlay
      .location__overlay-text-wrapper
        p.location__overlay-welcome-text= welcomeText
        p.location__overlay-address-text= address
      .location__overlay-controls-wrapper
        .location__overlay-controls-container
          .location__overlay-controls
            button.location__overlay-btn-set-address.js-location__overlay-btn-set-address
          .location__overlay-controls
            button.location__overlay-btn-find-marker.js-location__overlay-btn-find-marker