include ../ripple-btn/ripple-btn

mixin account-panel (data = {})
  -
    const {
      title = '',
      buttonList = [],
    } = data;
  section.account-panel
    p.account-panel__title= title
    .account-panel__controls
      each link in buttonList
        -
          const {
            href = '',
            description = '',
            theme= 'mint',
            size = 'large',
          } = link;
        a(href= href target="_blank" rel="noopener noreferrer")
          +ripple-btn({theme, size, text: description})