mixin account-panel (data = {})
  -
    const {
      title = '',
      buttonList = [],
    } = data;
  .account-panel
    p.account-panel__title= title
    .account-panel__controls
      each link in buttonList
        -
          const {
            href = '',
            description = '',
            theme= 'mint',
            size = 'hight',
          } = link;
        a(href= href)
          +button({theme, size, text: description})