include ../ripple-btn/ripple-btn

mixin messaging(data = {})
  -
    const {
      picture = require('../../assets/images/sarah-brown.jpg'),
      userName = 'user',
      placeholder = 'hello there',
    } = data;
  .messaging
    div.messaging__header
      p.messaging__interlocutor-name= userName
      .messaging__interlocutor-picture(style=`background-image: url(${picture})`)
    .messaging__body
      .messaging__wrap
        .messaging__interlocutor-area
          button.messaging__dialog-button.messaging__dialog-button_for_message
          button.messaging__dialog-button.messaging__dialog-button_for_photo
        .messaging__chat-area
          .messaging__textarea-wrapper
            textarea.messaging__textarea.messaging__textarea_for_to(
              disabled
              placeholder= placeholder
            )
          textarea.messaging__textarea.messaging__textarea_for_from
            | Yeah that sounds great. See you then.
        +ripple-btn({
          theme: 'mint',
          size: 'large',
          text: 'Reply',
          isReversedColor: true,
          isResponsive: true,
        })