mixin messaging(data = {})
  -
    const {
      picture = require('../../assets/images/sarah-brown.jpg'),
      userName = 'user',
      placeholder = 'hello there',
      widgetClassHook = '',
    } = data;
  div(class="messaging__widget " + widgetClassHook)
    div(class="messaging__header")
      p.messaging__interlocutor-name= userName
      div(class="messaging__interlocutor-picture" style=`background-image: url(${picture})`)
    div(class="messaging__body")
      div(class="messaging__wrap")
        div(class="messaging__interlocutor-area")
          button(class="messaging__dialog-button messaging__send-message")
          button(class="messaging__dialog-button messaging__send-photo")
        div(class="messaging__chat-area")
          textarea(class="messaging__textarea messaging__message-to" disabled placeholder= placeholder)
          textarea(class="messaging__textarea messaging__message-from")
        +button({theme: 'mint', size: 'hight', text: 'Submit', isReversedColor: true, isResponsive: true})