include ../ripple-button/ripple-button

mixin messaging(data = {})
  -
    const {
      picture = 'sarah-brown.jpg',
      userName = 'user',
      placeholder = 'hello there',
    } = data;
  .messaging
    div.messaging__header
      p.messaging__interlocutor-name= userName
      .messaging__interlocutor-picture(
        style=`background-image: url(${require(`../../assets/images/${picture}`)})`
      )
    .messaging__body
      .messaging__wrap
        .messaging__interlocutor-area
          button.messaging__dialog-button.messaging__dialog-button_type_message
          button.messaging__dialog-button.messaging__dialog-button_type_photo
        .messaging__chat-area
          .messaging__textarea-wrapper
            textarea.messaging__textarea.messaging__textarea_type_reception(
              disabled
              placeholder= placeholder
            )
          textarea.messaging__textarea.messaging__textarea_type_answer
            | Yeah that sounds great. See you then.
        +ripple-button({
          theme: 'mint',
          size: 'large',
          text: 'Reply',
          isReversedColor: true,
          isResponsive: true,
        })