mixin button(color,buttonName,buttonText)
    button(class= 'button__ripple-btn button__ripple--'+color, class= ''+buttonName type="submit")
        .button__ripple-effect.js-ripple-effect
            span.js-ripple-circle
        p= buttonText