mixin button(button = {})
  -
    let {
      theme = "orange",
      size = "low",
      isResponsive = false,
      isReversedColor = false,
      text = "test",
      widgetClass = ""
    } = button

    theme = !!isReversedColor ? `${theme}-reverse` : theme

    let className = "button__ripple-btn js-ripple-btn " + widgetClass
    className = className += " button__ripple-btn_size_" + size 
    className = className += " button__ripple-btn_theme_" + theme
    className += !!isResponsive ? " button__ripple-btn_width_responsive" : ""

  button(type="submit" class= className)
    .button__ripple-effect.js-ripple-effect
      span.js-ripple-circle
    p= text