.button {
  &__ripple-btn {
    outline: none;
    background: inherit;
    position: relative;
    transition: .3s ease-in-out all;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: 'Lato black', Arial, sans-serif;

    &:hover {
      color: white;
    }

    &_low {
      @include button__ripple-size-modify(9rem, 2.5rem, 1.2rem);
    }

    &_hight {
      @include button__ripple-size-modify(13.7rem, 3.9rem, 1.45rem);
    }

    &_mint {
      @include button__ripple-color-modify($mint-template);
    }

    &_orange {
      @include button__ripple-color-modify($orange-template);
    }


    p {
      margin: 0;
      padding: 0;
    }

    &:hover,
    &:focus {
      outline: 0;
      text-decoration: none;
    }
    
    &:not(:disabled) {
      cursor: pointer;
    }
  }

  &__ripple-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
  }
}

.js {
  &-ripple-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, .25);

    .button__ripple-effect.is-active & {
      animation: a-ripple .4s ease-in;
    }
  }
}

