mixin order-pool()
  include ../slider/slider
  include ../tickbox/tickbox
  include ../arrows/arrows
  include ../buttons/buttons
  include ../toggles/toggles
  include ../dropdown/dropdown
  include ../percentages-chart/percentages-chart
  include ../calendar/calendar
  -
    const data = require("../../components/order-pool/order-pool.json")
  .global__wrapper
    form
      .order__people-count
        h2.order__title Для начала укажите кол-во людей (взрослых)
        .order__dropdown-wrapper
          +dropdown({widgetClass: "js-people-count"})
      .order__childrens-wrapper
        .order__childrens-question
          h2.order__title Наличие детей?
          .order__widgets-container
            +toggles("order__childrens-avail js-childrens-state")
            .order__childrens-count
              h2.order__title Сколько будет детей?
              .order__dropdown-wrapper
                +dropdown({widgetClass: "js-childrens-count"})
      .order__budget-count
        .order__widgets-container
          h2.order__title Укажите ваш бюджет
          span.order__budget-title.js-budget-count 0р.
          +slider("order__budget-slider js-budget-slider")
      .order__room-choose
        h2.order__title Выберите комнату для мероприятия
        .order__room-picture-container
          each picture in data.roomList
            .order__room-picture-item
              img(src= require("../../assets/images/" + picture.picture))
              p.order__room-picture-title= picture.name
        .order__widgets-container
          .order__room-arrows-container
            +arrow({ direction: "arrow-left", isDisable: false, className: "order__room-prev js-prev-room" })
            +arrow({ direction: "arrow-right", isDisable: false, className: "order__room-next js-next-room" })
        .order__widgets-container
          +button({theme: "mint", size: "hight", text: "Продолжить", widgetClass: "js-order-picture-continue"})
      h2.order__title Остался последний шаг
      .order__checkout
        section.order__checkout-container
          p.order__checkout-text Выберите удобную для созвона дату:
          +calendar("order__meet-date")
        section.order__checkout-container
          p.order__checkout-text Всё что от вас необходимо, это заполнить два поля ниже, и мы позвоним вам в течение 10 минут.
          .order__checkout-label-control
            label(for="order__person-name").order__checkout-text Ваше имя:
            input(type="text" name="order__person-name" class="order__checkout-control" placeholder="Имя")
          .order__checkout-label-control
            label(for="order__person-number").order__checkout-text Телефон для связи:
            input(type="text" name="order__person-number" class="order__checkout-control" placeholder="В формате +x (xxx) xxx-xx-xx")
          .order__checkout-label-control
            .order__checkout-personal-data
              +checkbox("order__confrim-checkbox")
              span.order__checkout-confrim Я согласен на обработку
                a( target="_blank" rel="noopener noreferrer" href="http://google.com") персональных данных
          .order__checkout-label-control
            +button({theme: "mint", size: "hight", text: "Позвоните мне"})
    .order__fully-state
      +percentages-chart("1")