.pie-chart {
    position: relative;
    margin-left: 1rem;
  }
  
  .pie-chart__canvas {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .pie-chart__percentage {
    font-size: 40px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .pie-charts__container{
      display: flex;
  }