.form-section {
  &__title {
    text-transform: uppercase;
    font-family: 'Lato black', Arial, sans-serif;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 4.2rem;
    color: $text-color;
  }

  &__container {
    display: flex;

    @include media-screen ($mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__message {
    width: 48.5%;
    margin-right: 3rem;

    @include media-screen ($mobile) {
      width: 100%;
      margin: 0;
    }
  }

  &__tick-boxes {
    flex: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__row {
    width: 52%;
    margin-bottom: 4rem;

    &-wrap {
      display: flex;
      justify-content: space-evenly;
    }

    &-item {
      margin-right: 1rem;
    }

    @include media-screen ($mobile) {
      width: 100%;
      margin: 0;
    }
  }

  &__item {
    @include media-screen ($mobile) {
      margin: 1rem 0;
    }
  }
}