include ../arrows/arrow-button
mixin arrows-section (title)
  section.arrows-section
    h2.arrows-section__title= title
    .arrows-section__container
      .arrows-section__container-item
        +arrow-button({ direction: 'left' })
        +arrow-button({ direction: 'right' })
      .arrows-section__container-item
        +arrow-button({ direction: 'left', isDisabled: true, })
        +arrow-button({ direction: 'right', isDisabled: true, })
      .arrows-section__container-item
        +arrow-button({ direction: 'left' })
        +arrow-button({ direction: 'right' })