include ../arrows/arrows
mixin arrows-section (title)
  section.arrows-section
    h2.arrows-section__title= title
    .arrows-section__container
      .arrows-section__container-item
        +arrow({ direction: 'left', isDisable: false, })
        +arrow({ direction: 'right', isDisable: false, })
      .arrows-section__container-item
        +arrow({ direction: 'left', isDisable: true, })
        +arrow({ direction: 'right', isDisable: true, })
      .arrows-section__container-item
        +arrow({ direction: 'left', isDisable: false, })
        +arrow({ direction: 'right', isDisable: false })