.arrows-section {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3.8rem;
    color: $text-color;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75%;

    &-item {
      flex: 1;
      display: flex;
      justify-content: space-around;

      @include media-screen ($mobile) {
        margin: 1rem 0;
      }
    }

    @include media-screen ($mobile) {
      flex-direction: column;
    }
  }
}