include ../message-form/message-form
include ../location/location
include ../video-player/video-player

mixin contact-section (data = {})
  -
    const {
      title = 'Заголовок',
      paragraphs = [],
      contactType = '',
    } = data;
  section.contact-section
    h2.contact-section__title= title
    - for (let i = 0; i < paragraphs.length; i += 1)
      p.contact-section__text= paragraphs[i]
    .contact-section__widget
      case contactType
        when 'communicate'
          +location({ welcomeText: 'Meet us!', address: 'Итальянская ул. дом 3', coords: [59.890138, 30.378240] })
        when 'about-work'
          +video-player({ src: require('../../assets/video/new-zeland.mp4') })
        when 'any-question'
          +message-form({
            NameField: 'contact__user-name',
            emailField: 'contact__user-email',
            messageField: 'contact__user-message',
            policy: {
              isShowed: true,
              title: 'Я согласен на обработку',
              text: 'персональных данных',
              link: 'https://policy.com/',
            }
          })