html {
    font-size: 12px;
}

body {
    max-width: 836px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.widgets {
    &__title {
        text-transform: uppercase;
        font-family: 'Lato black', Arial, sans-serif;
        text-align: center;
        font-size: 2.3rem;
        margin: 0;
    }

    &__buttons {
        margin-top: 9.3rem;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 78%;
            margin: 20.5rem auto 0 auto;
        }
    }

    &__arrows {
        margin-top: 6.3rem;
        
        &-container {
            display: flex;
            align-items: flex-end;
            margin: 4rem 10.5rem 0 10rem;
        }

        &_enabled-buttons,
        &_disabled-buttons {
            width: 30%;
            display: flex;
            justify-content: space-between;
        }
        
        &_disabled-buttons {
            margin-left: 2.4rem;
        }
    }

    &__pie {
        margin-top: 5rem;

        .widgets__title {
            margin-bottom: 3rem;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-charts {
            display: flex;
            justify-content: space-between;
            width: 78%;
            flex-wrap: wrap;
        }
    }

    &__donut {  
        &-charts {
            width: 18%;
            height: 140px;
        }
    }

    &__sliders {
        margin-top: 4rem;

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 5rem;
        }
    }

    &__stages {
        margin-top: 7rem;

        h2 {
            margin-bottom: 3rem;
        }
    }

    &__form-elements {
        margin-top: 5.5rem;

        h2 {
            margin-bottom: 4.5rem;
        }

        &-container {
            display: flex;
        }

        &-message {
            width: 48.5%;
        }

        &-toggles {
            width: 51%;
            display: flex;
            flex-direction: column;

            .toggles {
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h2 {
                        margin-top: 1rem;
                        margin-bottom: 3rem;
                    }

                    &-items {
                        display: flex;
                        justify-content: space-between;
                        width: 45%;
                    }
                }
            }

            .tick-boxes {
                &__container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 3rem;

                    h2 {
                        margin-top: 1rem;
                        margin-bottom: 4rem;
                    }

                    &-items {
                        display: flex;
                        justify-content: space-between;
                        width: 20%;
                    }
                }
            }
        }
    }

    &__user {
        &-container {
            display: flex;
            justify-content: space-between;
            margin-top: 7.5rem;
        }

        &-search {
            width: 48.4%;

            h2 {
                margin-bottom: 2.2rem;
            }
        }

        &-profile {
            width: 49%;

            .widgets__title {
                margin-bottom: 3.3rem;
            }

            &-item {
                margin-bottom: 2.7rem;
            }
        }
    }

    &__news-events {
        margin-top: 8.2rem;

        .widgets__title {
            margin-bottom: 4rem;
        }

        .news-events-wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    &__location {
        margin-top: 5.5rem;

        .widgets__title {
            margin-bottom: 3.4rem;
        }
    }

    &__calendar-and-messaging {
        margin-top: 5.8rem;

        .widgets__title {
            margin-bottom: 2.8rem;
        }

        &-container {
            display: flex;
            justify-content: space-between;
        }
    }

    &__video {
        margin-top: 6rem;

        .widgets__title {
            margin-bottom: 2.5rem;
        }
    }
}