html {
    font-size: 12px;
}

body {
    max-width: 1920px;
    width: 43.7%;
    margin: 0 auto;
}

.widgets {
    &__title {
        text-transform: uppercase;
        font-family: 'Lato black', Arial, sans-serif;
        text-align: center;
        font-size: 2.3rem;
        margin: 0;
    }

    &__buttons {
        h2 {
            margin-top: 9.3rem;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 78%;
            margin: 20.5rem auto 0 auto;
        }
    }

    &__arrows {
        h2 {
            margin-top: 6.3rem;
        }
        
        &-container {
            display: flex;
            align-items: flex-end;
            margin: 4rem 10.5rem 0 10rem;
        }

        &_enabled-buttons,
        &_disabled-buttons {
            width: 30%;
            display: flex;
            justify-content: space-between;
        }
        
        &_disabled-buttons {
            margin-left: 2.4rem;
        }
    }

    &__pie {
        h2 {
            margin-top: 5rem;
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-charts {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
            width: 78%;
        }
    }

    &__donut {  
        &-charts {
            width: 18%;
        }
    }
}