$mint-template: #4eb7a8;
$orange-template: #e75735;
$gray-template: #e5e5e5;
$grey-light: #ededed;

//spinner
$spinnerOffset: 187;
$spinnerDuration: 1.4s;

// media variables
$fullHD: 1920px;
$mediumScreen: 1600px;
$tablet: 960px;
$mobile: 760px;

// main page

$mainNewsItem: #fbfbfb;

@mixin media-screen($width) {
  @media (max-width: $width) {
    @content;
  }
}