include ../ripple-button/ripple-button

mixin widget-events(event = {})
  -
    const {
      picture = 'gray-bg.jpg',
      date = {
        day: '0',
        month: 'mon',
      },
      title = 'event - title',
      text = 'event - text',
    } = event;
  section.widget-events
    .widget-events__picture(style=`background-image: url(${require(`../../components/widget-events/img/${picture}`)})`)
    .widget-events__information
      .widget-events__information-wrapper
        .widget-events__date-title
          p.widget-events__date= date.day
          p.widget-events__month= date.month
        h3.widget-events__event-title=  title
        p.widget-events__event-text=  text
        .widget-events__to-calendar
          +ripple-button({ theme: 'mint', size: 'small', isResponsive: true, text: 'Add to calendar', })