include ../ripple-btn/ripple-btn

mixin widget-events(event = {})
  -
    const {
      picture = 'gray-bg.jpg',
      parsedPicture = require(`../../components/widget-events/img/${picture}`),
      date = {
        day: '0',
        month: 'mon',
      },
      title = 'event - title',
      text = 'event - text',
    } = event;
  section.widget-events
    div(class="widget-events__picture" style=`background-image: url(${parsedPicture})`)
    div(class="widget-events__information")
      div(class="widget-events__information-wrapper")
        div(class="widget-events__date-title")
          p(class="widget-events__date")= date.day
          p(class="widget-events__month")= date.month
        h3(class="widget-events__event-title")=  title
        p(class="widget-events__event-text")=  text
        .widget-events__to-calendar
          +ripple-btn({theme: 'mint', size: 'small', isResponsive: true, text: 'Add to calendar'})