mixin arrow(direction, disabled)
    button(class="arrows" disabled= disabled)
        div(class="arrow" class= ''+direction)

.arrow-disabled
    +arrow('arrow-left', true)
    +arrow('arrow-right', true)
.arrow-enabled
    +arrow('arrow-left')
    +arrow('arrow-right')

//- Подсказка:

//- 'true' = disabled
//- 'false' = enabled

//- 'arrow-left', 'arrow-right' и 'disabled'