include ../../components/stages/stages

mixin stages-section (title = '')
  section.stages-section
    h2.stages-section__title= title
    .stages-section__container
      +stages({ maxStep: 5, currentStep: 3 })