@font-face{
    font-family: 'Lato-black';
    src: url('Lato black.eot');
    src: local('Lato black');
    src: url('Lato black.woff') format('woff');
    src: url('Lato black.ttf') format('ttf');
    src: url('Lato black.svg#font') format('svg');
    font-weight: normal;
    font-style: normal;
}