.index {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;

    @include media-screen($tablet) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__block {
    &-events {
      padding: 2rem 0;
    }
  }

  &__search {
    h2 {
      font-family: 'Lato black', Arial, sans-serif;
      text-align: center;
    }

    &-line {
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 0 auto;
    }
  }
}
