extends ../../templates/main

include ../../components/assistant/assistant
include ../../components/form-search/form-search
include ../../components/widget-events/widget-events
include ../../components/widget-news/widget-news
include ../../components/news-list/news-list
include ../../components/header/header
include ../../components/footer/footer

block title
  title Главная страница

block content
  -
    const data = require('../../assets/data/data.json');
    const { newsList, pages, searchLine, lastEvent, importantNews } = data;
  .index
    header.index__header
      +header(pages)
    main.index__content
      .index__left-wrapper
        form.index__search
          +form-search(searchLine)
        section.index__container
          +news-list(newsList)
        section.index__assistant
          +assistant()
      .index__right-wrapper
        section.index__last-event
          +widget-events(lastEvent)
        section.index__important-news
          +widget-news(importantNews)
    footer.index__footer
      +footer('Ilya sigidin')