extends ../../templates/main

include ../../components/assistant/assistant
include ../../components/search/search
include ../../components/events/events
include ../../components/news-list/news-list
include ../../components/header/header
include ../../components/footer/footer

block title
  title Главная страница

block content
  -
    const data = require('../../assets/data/data.json');
    const { newsList, pages } = data;
  .index
    header.index__header
      +header(pages)
    main.index__content
      .index__search
        h2 Поиск по сайту: (имитация)
        .index__search-line
          +search()
      .index__container
        +news-list(newsList)
    .index__assistant
      +assistant()
    footer.index__footer
      +footer