mixin input-label (data = {})
  -
    const {
      name = '',
      labelType = '',
      placeholder = '',
    } = data;
  input(type= labelType name= name class="input-label input-label__item" placeholder= placeholder)
  label(for= name)
