mixin input-label (data = {})
  -
    const {
      name = '',
      labelType = '',
      placeholder = '',
    } = data;
  label.input-label
    input.input-label__item(type= labelType name= name placeholder= placeholder)
