mixin input-label (data = {})
  -
    const {
      name = '',
      labelType = '',
      placeholder = '',
    } = data;
  input.input-label.input-label__item(type= labelType id= name placeholder= placeholder)
  label(for= name)
