@mixin percentage-chart($font-size: 4.5rem, $color: #9d9d9d){
  font-size: $font-size;
  color: $color;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Lato light', Arial, sans-serif;
}

.pie-chart {
  margin: 0;

  figcaption {
    position: absolute;
    @include percentage-chart;
  }

  svg {
    width: 140px;
    height: 140px;
  }

  &__figure-inner {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__outer {
    fill: transparent;
    stroke: $orange-template;
    stroke-width: 8;
    stroke-dasharray: 534;
    transition: stroke-dashoffset 1s;
    -webkit-animation-play-state: running;
    -moz-transform: rotate(-89deg) translateX(-190px);
  }
}