include ../svg-icon/svg-icon

mixin video-player({ src })
  section.video-player.js-video-player
    video.video-player__screen.js-video-player__screen
      source(src= src type="video/mp4")
    .video-player__controls
        .video-video-player__control.video-player__control_type_play.js-video-player__control_type_play
          button.video-player__control
            span.video-player__control-figure
              +svg-icon({ icon: 'play', })
        .video-video-player__control.video-player__control_type_pause.js-video-player__control_type_pause
          button.video-player__control
            span.video-player__control-figure
              +svg-icon({ icon: 'pause', })
        .video-video-player__control.video-player__control_type_progress.js-video-player__control_type_progress
          progress.video-player__control(
            max="100"
            value="0"
          )
        .video-video-player__control.video-player__control_type_fullscreen.js-video-player__control_type_fullscreen
          button.video-player__control