include ../svg-icon/svg-icon

mixin video-player({ src, videoStartTime })
  section.video-player.js-video-player
    video.video-player__screen.js-video-player__screen(data-startTime= videoStartTime)
      source(src= src type="video/mp4")
    .video-player__controls-container
        .video-player__control.video-player__control_type_play.js-video-player__control_type_play
          button.video-player__control
            span.video-player__control-icon
              +svg-icon({ icon: 'play' })
        .video-player__control.video-player__control_type_pause.js-video-player__control_type_pause
          button.video-player__control
            span.video-player__control-icon
              +svg-icon({ icon: 'pause' })
        .video-player__control.video-player__control_type_progress.js-video-player__control_type_progress
          progress.video-player__control-progress-icon.js-video-player__control-progress-icon(
            max="100"
            value="0"
          )
        .video-player__control.video-player__control_type_fullscreen.js-video-player__control_type_fullscreen
          button.video-player__control