.form__search
    .form__search__str__find
        input(type="text" id="search__str" class="str__find" placeholder="Search")
        input(type="button" id="search__btn" class="btn__find")
    .form__search__options
        ul(class="search__items hidden" id="search__items")
            li First
            li Second
            li third
            li Ilya
            li Ilya sigidin
            li 2 Step education
            li Hello
            li Fullstack Development
            li Thank you
