.news-list {
  padding: 1%;
  border-radius: 13px;

  &__item {
    background: $mainNewsItem;
    padding: 2rem;
    border-radius: 13px;
    margin: 3rem 0;
    box-shadow: 2px 0 3px 0px darken(white, 15);

    &-title {
      font-size: 2.5rem;
    }

    &-text {
      font: 1.6rem 'Source Sans Pro', Arial, sans-serif;
    }
  }
}