.news-list {
  background: $mainNewsItem;
  padding: 1%;
  border-radius: 13px;
  box-shadow: 2px 2px 6px 0px darken($white, 15);

  &__item {
    background: $mainNewsItem;
    padding: 1%;
    border-radius: 13px;
    margin-top: 2rem;
    box-shadow: 2px 2px 6px 0px darken($white, 15);

    &-title {
      font: 2.5rem 'Lato black', Arial, sans-serif;
    }

    &-text {
      font: 1.6rem 'Source Sans Pro', Arial, sans-serif;
    }
  }
}