mixin news-list (data = [])
  section.news-list
    each item in data
      -
        const {
          title,
          text,
        } = item;
      .news-list__item
        h2.news-list__item-title= title
        p.news-list__item-text= text