include ../messaging/messaging
mixin messaging-section (title = '')
  section.messaging-section
    h2.messaging-section__title= title
    +messaging({
      userName: 'Sarah Brown',
      placeholder: 'Hey! So are we cool to meet at the art gallery? Say 8pm?',
    })