
mixin toggles(toggleName = 'empty')
  section.toggles
    input(type="checkbox" name= toggleName id= toggleName class="toggles__input")
    label(for= toggleName class="js-toggles-icon toggles__icon" tabindex="0")
      .toggles__handle