
mixin toggles(toggleName = 'empty')
  section.toggles
    input.toggles__input(type="checkbox" name= toggleName id= toggleName)
    label.js-toggles-icon.toggles__icon(for= toggleName tabindex="0")
      .toggles__handle