.toggles {
  &__input {
    display: none;
  }

  &__input:checked + &__icon {
    background: $mint-template;

    &:after {
      content: 'ON';
      position: absolute;
      left: 19%;
      font-family: Lato black;
      font-size: 1.5rem;
      color: white;
    }

    & > .toggles__handle {
      left: 63%;
      transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
      cursor: pointer;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    width: 7rem;
    height: 2.8rem;
    background-color: $gray-template;
    border-radius: 20px;
    position: relative;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 4px 0px $mint-template;
    }

    &::after {
      content: 'OFF';
      position: absolute;
      right: 13%;
      font-family: Lato black;
      font-size: 1.5rem;
      color: white;
    }
  }

  &__handle {
    height: 2.3rem;
    width: 2.3rem;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    left: 4px;
    transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
  }
}
