
mixin toggles(toggleName = 'empty')
  input(type="checkbox" name= toggleName id= toggleName class=`toggles__input ${toggleName}`)
  label(for= toggleName class="js-toggles-icon toggles__icon" tabindex="0")
    .toggles__handle