
mixin toggles({ toggleName = 'empty' })
  section.toggles
  label.toggles__label
    input.toggles__input(type="checkbox" name= toggleName)
    .toggles__icon(tabindex="0")
      span.toggles__handle