mixin header-mobile (pages = {})
  section.header-mobile.js-header-mobile
    a.header-mobile__button.js-header-mobile__button &#9776;
    aside.header-mobile__menu.js-header-mobile__menu
      +header-nav(pages)