mixin header-mobile (pages = [])
  section.header-mobile.js-header-mobile
    a.header-mobile__hamburger-button.js-header-mobile__hamburger-button &#9776;
    aside.header-mobile__hamburger-menu.js-header-mobile__hamburger-menu
      +header-nav(pages)