mixin pieChart(percent)
  figure.pie-chart(data-percent= percent)
      .pie-chart__figure-inner
        svg(width="200" height="200")
          circle(class="pie-chart__outer" cx="95" cy="95" r="85" transform="rotate(-90, 95, 95)")
        figcaption= percent