include ../buttons/buttons
include ../header-nav/header-nav
include ../header-mobile/header-mobile
include ../account-panel/account-panel

mixin header (pages = {}, theme)
  -
    let headerClassName = 'header-line ';
    const logo = { link: './index.html' };
    let accountButtonsSize = 'hight';
    if (theme) {
      accountButtonsSize = theme === 'low' ? 'low' : 'hight';
      headerClassName += `header-line_theme_${theme}`;
    };
    const buttonList = [
      { href: './login.html', desctiption: 'Вход', size: accountButtonsSize },
      { href: './register.html', desctiption: 'Регистрация', size: accountButtonsSize },
    ];
  div(class= headerClassName)
    nav.header-line__navigation
      +header-nav(pages)
    a(href= logo.link).header-line__logo
    +account-panel({ title: 'Аккаунт', buttonList })
  .header-line__mobile
    +header-mobile(pages)