include ../buttons/buttons
include ../header-nav/header-nav
include ../header-mobile/header-mobile
include ../account-panel/account-panel

mixin header (pages = {})
  .header__topline
    -
      const logo = { link: './index.html' }
    nav.header__navigation
      +header-nav(pages)
    a(href= logo.link).header__topline-logo
    -
      const buttonList = [
        { href: './login.html', desctiption: 'Вход' },
        { href: './register.html', desctiption: 'Регистрация' },
      ];
    +account-panel({ title: 'Аккаунт', buttonList })
  .header__mobile
    +header-mobile(pages)