include ../buttons/buttons
include ./header-nav/header-nav
include ./header-mobile/header-mobile
include ./account-panel/account-panel

mixin header (data = {})
  .header__topline
    nav.header__navigation
      +header-nav()
    a(href="./index.html").header__topline-logo
    -
      const links = [
        { href: './login.html', desctiption: 'Вход' },
        { href: './register.html', desctiption: 'Регистрация' },
      ];
    +account-panel({ title: 'Аккаунт', linkList: links })
  .header__mobile
    +header-mobile()