.video-player {
    width: 100%;

    &__container {
        position: relative;
    }

    &__screen {
        position: relative;
        width: 100%;
    }

    &__controls {
        position: absolute;
        bottom: 4px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 6rem;
    }

    &__control {
        background: inherit;
        border: none;
        outline: none;
    }

    &__play {
        flex-basis: 8%;

        svg {
            fill: white;
            width: 20px;
            height: 20px;
        }
    }

    &__pause {
        display: none;
        flex-basis: 8%;
    }

    &__progress {
        flex-basis: 84%;
        margin-right: 4%;
    }

    &__fullscreen {
        height: 6rem;
        background: $orange-template;
        flex-basis: 6rem;
        margin-left: 40;
    }
}