mixin form-search(data = {})
  -
    const {
      searchList = [],
      placeholder = 'Search',
    } = data;
  section.form-search.js-form-search
    .form-search__find-line
      .form-search__line-wrapper
        input.form-search__input-text-area.js-form-search__input-text-area(type="text" placeholder= placeholder)
      input.form-search__search-btn.js-form-search__search-btn(type="button")
    .form-search__options
      ul.form-search__item-list.js-form-search__item-list
        each item in searchList
          li.form-search__item-list-option.js-form-search__item-list-option(tabindex="0")= item