mixin form-search(data = {})
  -
    const {
      searchList = [],
      placeholder = 'Search',
      errorMessage = 'I’ve not found what I’m looking for...',
    } = data;
  section.form-search.js-search-form-widget
    .form-search__find-str
      .form-search__str-wrapper
        input(type="text" class="form-search__str" placeholder= placeholder)
        label(class="form-search__str-status")= errorMessage
      input(type="button" id="form-search__btn-find" name="form-search__btn-find" class="form-search__btn-find")
    .form-search__options
      ul(class="form-search__items form-search__hidden-item" id="form-search__items")
          each item in searchList
            li(tabindex="0")= item
