mixin form-search(data = {})
  -
    const {
      searchList = [],
      placeholder = 'Search',
      errorMessage = 'I’ve not found what I’m looking for...',
    } = data;
  section.form-search.js-search-form-widget
    .form-search__find-str
      .form-search__str-wrapper
        input(type="text" class="js-form-search-line form-search__str" placeholder= placeholder)
        label(class="js-form-search-status form-search__status")= errorMessage
      input(type="button" class="js-form-search-start form-search__search-btn")
    .form-search__options
      ul(class="js-form-items form-search__items" id="form-search__items")
          each item in searchList
            li(tabindex="0").form-search__items-option= item
