include ../../components/percentages-chart/percentages-chart.pug
include ../../components/donut-chart/donut-chart.pug
mixin charts-section(title)
  -
    const charts = ['0', '38', '89', '62'];
    const donutData = [
      { color: '#E75735', fill: 30 },
      { color: '#4EB7A8', fill: 30 },
      { color: '#E5E5E5', fill: 30 },
      { color: '#747474', fill: 10 },
    ];
  section.charts
    h2.charts__title= title
    .charts__container
      - for (let i = 0; i < charts.length; i += 1)
        .charts__container-item
          +percentages-chart(charts[i])
      .charts__container-item
        +donut-chart(donutData)