include ../../components/percentages-chart/percentages-chart.pug
include ../../components/donut-chart/donut-chart.pug

mixin charts-section({ title })
  -
    const charts = ['0', '38', '62', '89'];
    const donutData = [
      { color: '#E75735', fill: 30 },
      { color: '#4EB7A8', fill: 30 },
      { color: '#E5E5E5', fill: 30 },
      { color: '#747474', fill: 10 },
    ];
  section.charts-section
    h2.charts-section__title= title
    .charts-section__container
      each chart in charts
        .charts-section__container-item
          +percentages-chart({ currentFill: chart, })
      .charts-section__container-item
        +donut-chart(donutData)