include ../../components/search/search
include ../../components/dropdown/dropdown
mixin search-dropdown-section (title)
  section.search-dropdown
    h2.search-dropdown__title= title
    .search-dropdown__container
      .search-dropdown__item
        +search({ searchList: [ 'Даже', 'какие-то', 'элементы', 'поиска' ] })
      .search-dropdown__item
        +search()
      .search-dropdown__item
        +dropdown({
          optionList: [
            {value: "first", text: "This is option 1"},
            {value: "second", text: "This is option 2"},
            {value: "third", text: "This is option 3"},
            {value: "fourth", text: "This is option 4"},
          ]
        })