.search-dropdown-section {
  &__title {
    text-transform: uppercase;
    font-family: 'Lato black', Arial, sans-serif;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 2rem;
    color: $text-color;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__item {
    margin-bottom: 2rem;
  }
}