include ../../components/form-search/form-search
include ../../components/dropdown/dropdown
mixin search-dropdown-section (title)
  section.search-dropdown-section
    h2.search-dropdown-section__title= title
    .search-dropdown-section__container
      .search-dropdown-section__item
        +form-search({ searchList: [ 'Даже', 'какие-то', 'элементы', 'поиска' ] })
      .search-dropdown-section__item
        +form-search()
      .search-dropdown-section__item
        +dropdown({
          optionList: [
            {value: 'first', text: 'This is option 1'},
            {value: 'second', text: 'This is option 2'},
            {value: 'third', text: 'This is option 3'},
            {value: 'fourth', text: 'This is option 4'},
          ]
        })