.footer {
  background: black;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__copyright {
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }
}
