.arrow-button {
  position: relative;
  min-width: 6rem;
  min-height: 6rem;
  background-color: white;
  border: 3px solid #4eb7a8;
  border-radius: 50%;
  transition: 0.1s ease-in-out all;
  outline: none;

  &:active:not(:disabled) {
    transform: scale(0.9);
  }

  &:hover,
  &:focus {
    background-color: $mint-template;
    cursor: pointer;
  }

  &:hover,
  &:focus > &__inner {
    border-color: white;
  }

  &:disabled {
    background-color: $gray-template;
    border: 1px solid $gray-template;
  }

  &:disabled > &__inner {
    border-color: white;
  }

  &__inner {
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 33%;
    border: 1px solid #4eb7a8;
    border-width: 0.4rem 0.4rem 0 0;

    &_direction {
      &_left {
        left: 38%;
        transform: rotate(-135deg);
      }

      &_right {
        left: 26%;
        transform: rotate(45deg);
      }
    }
  }
}
