mixin button(color,buttonName,buttonText)
    button(class= 'c-button '+color, class= ''+buttonName type="submit")
        <div class="c-ripple js-ripple">
            <span class="c-ripple__circle"></span>
        </div>
        p= buttonText