mixin Search(inputName, inputButton)
    .form__search__str__find
        input(type="text" id="search__str" class="str__find" class= ''+inputName placeholder="Search")
        input(type="button" id="search__btn" class="btn__find" class= ''+inputButton)
    .form__search__options
        ul(class="search__items hidden" id="search__items")

            -var list1 = ["ilya", "sigidin", "education 1", "Fullstack Development", "hello", "pick me", "Press F"]
                each item in list1
                    li= item
