include ../location/location
mixin location-section (title)
  section.location-section.location__container
    h2.location__title= title
    +location({
      welcomeText: 'Meet us!',
      address: '1259  CALIFORNIA ST San Francisco, CA',
      coords: [59.890138, 30.378240] })