.location-section {
  &__title {
    text-transform: uppercase;
    font-family: 'Lato black', Arial, sans-serif;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 3.7rem;
    color: $text-color;
  }
}