include ../location/location

mixin location-section (title)
  section.location-section
    h2.location-section__title= title
    +location({
      welcomeText: 'Meet us!',
      address: '1259  CALIFORNIA ST San Francisco, CA',
      coords: [59.890138, 30.378240] })