include ../../components/slider/slider

mixin sliders-section (title)
  section.sliders
    h2.sliders__title= title
    .sliders__container
      .sliders__container-item
        +slider('js-first-slider')
      .sliders__container-item
        +slider('js-second-slider')