include ../../components/slider/slider

mixin sliders-section (title = '')
  section.sliders-section
    h2.sliders-section__title= title
    .sliders-section__container
      .sliders-section__container-item
        +slider({
          theme: 'theme-orange'
        })
      .sliders-section__container-item
        +slider({
          theme: 'theme-mint',
          step: 25,
          scale: [0, 25, 50, 75, 100],
        })