mixin Events(Events__title, Events__holiday)
    .Events__widget
        .Event__picture
        .Event__information
            div(class="Event__information__wrapper" id="divEvents")
                span(class="widget-date")
                    p(class="" id="widget-date")
                    p(class="" id="widget-month")
                h2= Events__title
                p= Events__holiday
                button(class="Event-to-calendar")
                    p Add to calendar

+Events('Today', 'Today there are no holidays')
