.Events__widget
    .Event__picture
    .Event__information
        div(class="Event__information__wrapper" id="divRss")
            span(class="widget-date")
                p(class="" id="widget-date") 24
                p(class="" id="widget-month") Aug
            h2 Today
            p Today there are no holidays
            button(class="Event-to-calendar")
                p Add to calendar