.range-slider-wrapper {
  height: auto;
  margin: 0 auto;
  display: flex;
  &.filters-expanded {
    .slider {
      background-color: #fff;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, .15);
    }
    .ui-slider-range {
      background-color: #ccc;
      background-image: none;
      border: 1px solid rgba(0, 0, 0, .15);
    }
  }
}

.advanced-filters {
  display: none;
}

.toggle-filters {
  display: inline-block;
  padding: 15px 10px;
  margin-top: 15px;
  margin-left: 15px;
  cursor: pointer;
  background-color: #666;
  color: #eee;
  min-width: 162px;
  text-align: center;
  border-radius: 5px;
  transition: all .6s ease;
  &:hover {
    background-color: #932222;
    color: #fff;
  }
}

.slider-heading {
  display: block;
  font-size: 17px;
  font-style: italic;
  margin-bottom: 50px;
  margin-left: 15px;
}

.slider {
  position: relative;
  width: 100%;
  height: 5px;
  margin-left: 15px;
  background-color: #e5e5e5;
  margin-bottom: 25px;
  border-radius: 6px;
  box-sizing: border-box;
  .ui-slider-handle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: #e75735;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .2);
    cursor: pointer;
    outline: none;
    margin-left: -10px;
  }
}

.slider__percentages__container{
  padding-top: 1.2rem;
  box-sizing: border-box;
  max-width: 100%;
}

.standart__sliders{
  width: 250px;
  display: flex;
  justify-content: center;
}

.percentage__sliders{
  width: 250px;
  display: flex;
  justify-content: center;
}

.slider__percentages{
  margin-right: 20%;
  color: #d1d1d1;
}

// Настройки для слайдера с процентами
.percentage__slider{
  background-color: #4eb7a8;
  .ui-slider-handle{
    background-color: #4eb7a8;
  }
  .value{
      display: none;
  }
}

.value {
  display: block;
  position: absolute;
  padding: 7px;
  background-color: #e75735;
  border-radius: 5px;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 11px;
  width: 16px;
  text-align: center;
}

.value::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
    border-color: rgba(194,225,245,0);
    border-top-color: #e75735;
    border-width: 5px;
    margin-left: -5px;
  }

.ui-state-focus,
.ui-state-hover{
  border-color: transparent !important;
}
