div(class="range-slider-wrapper")
  div(class="standart__sliders")
    div(id="slider-bedrooms" class="slider" data-min="0" data-max="100" data-value="0" data-step="1")
div(class="range-slider-wrapper")
  div(class="percentage__sliders")
    div(id="slider-bedrooms" class="slider percentage__slider" data-min="0" data-max="100" data-value="0" data-step="25")
     div(class="slider__percentages__container")
      span(class="slider__percentages") 0
      span(class="slider__percentages") 25
      span(class="slider__percentages") 50
      span(class="slider__percentages") 75
      span(class="slider__percentages") 100
