mixin slider
  div(class="range-slider-wrapper")
    div(class="standart__sliders")
      div(id="slider-bedrooms" class="slider" data-min="0" data-max="100" data-value="0" data-step="1")

+slider

mixin sliderSteps(datastep, percentagesName, ...items)
  div(class="range-slider-wrapper")
    div(class="percentage__sliders")
      div(id="slider-bedrooms" class="slider percentage__slider" data-min="0" data-max="100" data-value="0" data-step= ''+datastep)
        div(class="slider__percentages__container")
          each item in items
            span(class="slider__percentages" class= ''+percentagesName)= item
//Пример вызова данного слайдера:
// +sliderSteps("25", 'example', 0,25,50,75,100) где 25 = сумма шагов 'example' = имя спанов для стилизации и последующие числа - спаны для подписи 

+sliderSteps("25", 'example', 0,25,50,75,100)