
.ul__main
    .wrapper
        h2 Standart buttons
        .buttons
            include buttons/buttons.pug
        h2 Arrow button
        .arrows__icons
            include arrows/arrow.pug
        h2 Pie chart 
        .charts
            .piechart
                include pie-chart/percentages-chart/percentages.pug
            .donut-chart
                include pie-chart/donut-chart/donut.pug
        h2 Sliders
        .sliders
            include sliders/slider.pug
        h2 Stages
        .stages
            include stages/stages.pug
        h2 Form elements
        .form__container
            .message__form
                include form-elements/message-form/message.pug
            .toggles-form
                h2 Toggles
                .toggles
                    include form-elements/toggles-form/toggles/toggles.pug 
                h2 Tick Boxes
                .tick__boxes
                    include form-elements/toggles-form/tick-boxes/checkbox.pug
        .search__and__user-profile
            .search__and__user-profile__wrap-left
                h2 Search / Drop down
                .Search__drop-down
                    include search/search.pug
            .search__and__user-profile__wrap-right
                h2 User profile
                .user__profile
                    include User-profile/user-profile.pug
        h2 News & events
        .news__and__events
            .news
                include News-and-events/News/News.pug
            .events
                include News-and-events/Events/Events.pug
        h2 Location
        .Location
            include location/location.pug
        .calendar__and__messaging
            .calendar__and__messaging__wrap-left
                h2 Calendar
                .calendar
                    include Calendar-and-messaging/calendar/calendar.pug
            .calendar__and__messaging__wrap-right
                h2 Messaging
                .messaging