<!DOCTYPE html>
meta(charset = 'utf-8' name='viewport' content='initial-scale=1.0, width=device-width')
meta(name='desctiption' content='UI KIT special for Fullstack development')
link(rel='apple-touch-icon' sizes='180x180' href='./assets/favicons/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicons/favicon-32x32.png')
link(rel='icon' sizes='any' mask href='./assets/favicons/safari-pinned-tab.svg')
html
head
    title ui-kit
body
    .page__preloader.js-page-preloader
        svg(class="page__preloader-spinner" width="100" height="100" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
            circle(class="page__preloader-spinner-path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30")
    .widgets
        .widgets__buttons
            include components/buttons/buttons.pug
            h2.widgets__title Standard buttons
            .widgets__buttons-container
                +button({theme: 'mint', size: 'low', text: 'Button'})
                +button({theme: 'mint', size: 'hight', text: 'Button'})
                +button({theme: 'orange', size: 'hight', text: 'Button'})
                +button({theme: 'orange', size: 'low', text: 'Button'})
        .widgets__arrows
            include components/arrows/arrow.pug
            h2.widgets__title Arrow buttons
            .widgets__arrows-container
                .widgets__arrows_enabled-buttons
                    +arrow({ direction: 'arrow-left', isDisable: false, className: 'first-arrow-enabled' })
                    +arrow({ direction: 'arrow-right', isDisable: false, className: 'second-arrow-enabled' })
                .widgets__arrows_disabled-buttons
                    +arrow({ direction: 'arrow-left', isDisable: true, className: 'first-arrow-disabled' })
                    +arrow({ direction: 'arrow-right', isDisable: true, className: 'second-arrow-disabled' })
        .widgets__pie
            h2.widgets__title Percentages / pie chart
            .widgets__pie-container
                .widgets__pie-charts
                    include components/percentages-chart/percentages.pug
                    include components/donut-chart/donut.pug
                    +pieChart('0')
                    +pieChart('38')
                    +pieChart('62')
                    +pieChart('89')
                .widgets__donut-charts
                    include components/donut-chart/donut.pug
                    +donutChart
        .widgets__sliders
            h2.widgets__title Sliders
            include components/sliders/slider.pug
            .widgets__sliders-container
                +slider('first-slider')
                +slider('second-slider')
        .widgets__stages
            h2.widgets__title Stages
            include components/stages/stages.pug
            +stages('5', 'example-stages')
        .widgets__form-elements
            include components/message-form/message.pug
            include components/toggles/toggles.pug
            include components/tick-boxes/checkbox.pug
            h2.widgets__title Form elements
            .widgets__form-elements-container
                .widgets__form-elements-message
                    +formMessage({formName: 'form__user-form', NameField: 'example__userName', emailField: 'example__userEmail', messageField: 'example__userMessage'})
                .widgets__form-elements-toggles
                    .toggles__container
                        h2.widgets__title Toggles
                        .toggles__container-items
                            +toggles('toggle-first-option')
                            +toggles('toggle-second-option')
                    .tick-boxes__container
                        h2.widgets__title Tick boxes
                        .tick-boxes__container-items
                            +checkbox('tickbox-first-option')
                            +checkbox('tickbox-second-option')
        .widgets__user-container
            include components/search/search.pug
            include components/profile/profile.pug
            .widgets__user-search
                h2.widgets__title Search / drop down 
                +search('example-search')    
            .widgets__user-profile
                h2.widgets__title User profile 
                -
                    var users = [
                        {avatar: require('./assets/images/profile-man.jpg'), name: 'John Smith', job: 'Ux designer', social: { facebook: 'http://facebook.com', twitter: 'http://twitter.com', dbb: 'http://dbb.com'}},
                        {avatar: require('./assets/images/profile-girl.jpg'), name: 'Sarah Brown', job: 'Developer', social: { facebook: 'http://facebook.com', twitter: 'http://twitter.com', dbb: 'http://dbb.com'}}
                    ]
                each user in users
                    .widgets__user-profile-item
                        +user_profile(user.avatar, user.name, user.job, user.social.facebook, user.social.twitter, user.social.dbb) 
        .widgets__news-events
            include components/News/News.pug
            include components/Events/Events.pug
            h2.widgets__title News & Events
            .news-events-wrapper
                .news-container
                    -
                        var newsList = [
                            {widgetClass: 'widget-news', picture: require('./assets/images/widget-news-picture.jpg'), title: 'It’s all going downhill', date: '24  AUGUST  2013', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.'}
                        ]
                    each news in newsList
                        +News(news)
                .events-container
                    -
                        var eventsList = [
                            {widgetClass: 'widget-events', picture: require("./assets/images/widget-events-picture.jpg"), date: { day: '24', month: 'Aug' }, title: 'This is the title', text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'}
                        ]
                    each event in eventsList
                        +Events(event)
        .widgets__location
            include components/location/location.pug
            h2.widgets__title Location
            +location({className: 'example-location', welcomeText: 'Meet us!', address: '1259  CALIFORNIA ST San Francisco, CA' })
        .widgets__calendar-and-messaging
            include components/calendar/calendar.pug
            include components/messaging/messaging.pug
            .widgets__calendar-and-messaging-container
                .widgets__calendar-container
                    h2.widgets__title Calendar
                    +calendar('example-calendar')
                .widgets__messaging-container
                    h2.widgets__title Messaging
                    +messaging(require('./assets/images/profile-girl.jpg'), 'Sarah Brown', 'Hey! So are we cool to meet at the art gallery? Say 8pm', 'example-messaging')
        .widgets__video
            include components/video/video.pug
            h2.widgets__title Video
            +videoPlayer({src: require('./assets/video/new-zeland.mp4'), className: 'example-video'})