
.ul__main
    .wrapper
        h2 Standart buttons
        .buttons
            include buttons/buttons.pug
        h2 Arrow button
        .arrows__icons
            include arrows/arrow.pug
        h2 Pie chart 
        .charts
        .piechart
            include pie-chart/percentages-chart/percentages.pug
        .donut-chart
            include pie-chart/donut-chart/donut.pug
        h2 Sliders
        .sliders
            include sliders/slider.pug
        h2 Stages
        .stages
            include stages/stages.pug
        h2 Form elements
        .message-form
            include form-elements/message-form/message.pug
        .toggles-form
            .toggles

            .tick__boxes