<!DOCTYPE html>
meta(charset = 'utf-8' name='viewport' content='initial-scale=1.0, width=device-width')
meta(name='desctiption' content='UI KIT special for Fullstack development')
link(rel='apple-touch-icon' sizes='180x180' href='./assets/favicons/apple-touch-icon.png')
link(rel='icon' type='image/png' sizes='32x32' href='./assets/favicons/favicon-32x32.png')
link(rel='icon' sizes='any' mask href='./assets/favicons/safari-pinned-tab.svg')
html
head
    title ui-kit
body
    .ul__main
        .wrapper
            .buttons
                include components/buttons/buttons.pug
                h2 Standard buttons
                +button('mint', 'buttons__mint--low', 'Button')
                +button('mint', 'buttons__mint', 'Button')
                +button('orange', 'buttons__orange', 'Button')
                +button('orange', 'buttons__orange--low', 'Button')
            .arrows
                include components/arrows/arrow.pug
                h2 Arrow buttons
                +arrow('arrow-left', false, 'first-arrow-enabled')
                +arrow('arrow-right', false, 'second-arrow-enabled')
                +arrow('arrow-left', true, 'first-arrow-disabled')
                +arrow('arrow-right', true, 'second-arrow-disabled')
            .pie
                h2 Percentages / pie chart
                .pie-chart
                    include components/pie-chart/percentages-chart/percentages.pug
                    +pieChart('25')
                    +pieChart('50')
                    +pieChart('62')
                    +pieChart('89')
                .donut-chart
                    include components/pie-chart/donut-chart/donut.pug
                    +donutChart