style
    include blocks/template/Global-variables.scss
div(class="preloader" id="page-preloader")
    .loader
.ul__main
    .wrapper
        h2 Standard buttons
        .buttons
            include blocks/buttons/buttons.pug
            +button('btn-low', 'btn-mint', 'first_button', 'button')
            +button('btn-hight', 'btn-mint', 'second_button', 'button')
            +button('btn-hight', 'btn-orange', 'thid_button', 'button')
            +button('btn-low', 'btn-orange', 'four_button', 'button')
        h2 Arrow buttons
        .arrows__icons
            include blocks/arrows/arrow.pug
            .arrow-enabled
                +arrow('arrow-left', false, 'first_arrow-enabled')
                +arrow('arrow-right', false, 'second_arrow-enabled')
            .arrow-disabled
                +arrow('arrow-left', true, 'first_arrow-disabled')
                +arrow('arrow-right', true, 'second_arrow-disabled')
        h2 PERCENTAGES / PIE CHART
        .charts
            .piechart
                include blocks/pie-chart/percentages-chart/percentages.pug
            .donut-chart
                include blocks/pie-chart/donut-chart/donut.pug
        h2 Sliders
        .sliders
            include blocks/sliders/slider.pug
        h2 Stages
        .stages
            include blocks/stages/stages.pug
        h2 Form elements
        .form__container
            .message__form
                include blocks/message-form/message.pug
            .toggles-form
                h2 Toggles
                .toggles
                    include blocks/toggles-form/toggles/toggles.pug 
                h2 Tick Boxes
                .tick__boxes
                    include blocks/toggles-form/tick-boxes/checkbox.pug
        .search__and__user-profile
            .search__and__user-profile__wrap-left
                h2 Search / Drop down
                .Search__drop-down
                    include blocks/search/search.pug
            .search__and__user-profile__wrap-right
                h2 User profile
                .user__profile
                    include blocks/User-profile/user-profile.pug
        h2 News & events
        .news__and__events
            .news
                include blocks/News-and-events/News/News.pug
            .events
                include blocks/News-and-events/Events/Events.pug
        h2 Location
        .Location
            include blocks/location/location.pug
        .calendar__and__messaging
            .calendar__and__messaging__wrap-left
                h2 Calendar
                .calendar
                    include blocks/Calendar-and-messaging/calendar/calendar.pug
            .calendar__and__messaging__wrap-right
                h2 Messaging
                .messaging
                    include blocks/Calendar-and-messaging/messaging/messaging.pug
        h2 Video
        .video
            include blocks/video/video.pug