mixin button(size, color)
    button(class= ''+size, class= ''+color) button

+button('btn-low', 'btn-mint')
+button('btn-hight', 'btn-mint')
+button('btn-hight', 'btn-orange')
+button('btn-low', 'btn-orange')
