$mint-color: #4eb7a8;
$orange-color: #e75735;
.btn{
    display: flex;
}
// Тело кнопок
@mixin btn__template($width: 6.5rem, $height: 1.8333rem, $font-size: 0.8333rem){
    width: $width;
    height: $height;
    border: none;
    color: white;
    font-family: Lato-black;
    font-weight: bold;
    font-size: $font-size;
    border-radius: 4px;
    outline: none;
}
.btn-low{
    @include btn__template;
    margin-left: 1rem;
}
.btn-hight{
    margin-left: 1rem;
    @include btn__template(9.8333rem, 2.6667rem, 1rem);
}
.btn-low:hover,
.btn-hight:hover{
    cursor: pointer;
}
// Стилизация кнопок
@mixin btn__style__template($background-color: white, $color: white, $border: 1px solid red, $box-shadow: 0px 2.5px 0px -1px green){
    background-color: $background-color;
    color: $color;
    border: $border;
    box-shadow: $box-shadow;
    overflow: hidden;
    position: relative;
}
.btn-mint{
    @include btn__style__template(white, $mint-color, 1px solid $mint-color, 0px 2.5px 0px -1px $mint-color);
}
.btn-orange{
    @include btn__style__template(white, $orange-color, 1px solid $orange-color, 0px 2.5px 0px -1px $orange-color);
}
.btn-mint:hover{
    background-color: $mint-color;
    color: white;
}
.btn-orange:hover{
    background-color: $orange-color;
    color: white;
}
button{
    overflow: hidden;
}
button .ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.3s linear;
}

@keyframes ripple {
    to{
        transform: scale(0.5);
    }
}