include ../input-label/input-label
include ../ripple-button/ripple-button
include ../stages/stages.pug

mixin register-section(data = {})
  -
    const {
      finishBtnText = 'Регистрация',
      requiredFields = [
        {
          placeholder: 'Придумайте логин',
          fieldName: 'user-login',
          labelType: 'text',
        },
        {
          placeholder: 'Придумайте пароль',
          fieldName: 'user-password',
          labelType: 'password',
        },
        {
          placeholder: 'Повторите пароль',
          fieldName: 'repeat-password',
          labelType: 'password',
        },
      ],
    } = data;
    let filledCount = 0;
  section.register-section
    form.register-section__form
      each field in requiredFields
        -
          const {
            placeholder,
            fieldName,
            labelType,
          } = field;
        .register-section__form-item
          h2.register-section__item-title= placeholder
          +input-label({ name: fieldName, labelType: labelType })
      +stages({ maxStep: 3, currentStep: 1 })
      +ripple-button({ theme: 'mint', size: 'large', text: finishBtnText })