@import "../../template/Global-variables.scss";

.Events__widget{
    width: 35.2rem;
    height: 25.8rem;
    background-color: $mint-template;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    color: white;
}

.Event__picture{
    width: 33%;
}

.Event__information{
    width: 67%;
    box-sizing: border-box;
    background-color: $mint-template;
}

.Event__information__wrapper{
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 2.6rem;
    padding-right: 20px;
    height: 100%;
    padding-bottom: 50px;
}

.Event__information__wrapper h2,
.Event__information__wrapper h3,
.Event__information__wrapper p{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.widget-date{
    display: flex;
    font-family: Lato light;
}

.widget-date p:nth-child(1){
    font-size: 9.5rem;
    display: flex;
    align-items: flex-end;
}

.widget-date p:nth-child(2){
    font-size: 4.2rem;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
}

.Event__information__wrapper h2{
    font-family: Lato black;
    font-size: 1.67rem;
    word-spacing: normal;
    color: white;
    height: 37px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Event-to-calendar{
    width: 45%;
    height: 11%;
    background-color: white;
    position: absolute;
    bottom: 12%;
    left: 44%;
    border: none;
    outline: none;
    box-shadow: 0px 6px 2px -1px rgba(55,146,133,1);
    border-radius: 4px;
    cursor: pointer;
}

.Event-to-calendar p{
    color: 43ac9d;
    font-weight: bold;
}

.Event-to-calendar:active{
    transform: scale(0.9)
}

.Events_example p{
    font-family: Lato regular;
    font-size: 1.499rem;
    word-spacing: 0rem;
}

.Event-to-calendar p{
    font-family: lato black;
    word-spacing: 0rem;
    font-size: 1.4rem;
    text-transform: uppercase;
}