mixin header-nav(data = {})
  -
   const {
     url = '',
     name = ''
   } = data;
  .header-nav
    ul.header-nav__links
      each page in data
        li
          a(href= page.url).header-nav__links-item= page.name