include ../ripple-button/ripple-button

mixin buttons-section ({ title = '' })
  section.buttons-section
    h2.buttons-section__title= title
    - for (let i = 0; i < 3; i += 1)
      .buttons-section__container
        .buttons-section__container-item
          +ripple-button({ theme: 'mint', size: 'small' })
        .buttons-section__container-item
          +ripple-button({ theme: 'mint', size: 'large' })
        .buttons-section__container-item
          +ripple-button({ theme: 'orange', size: 'large' })
        .buttons-section__container-item
          +ripple-button({ theme: 'orange', size: 'small' })