@mixin slider-theme($color: #ffffff) {
  .back-bar {
    height: 0.6rem;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0);

    .pointer {
      background-color: $color;
      border-radius: 50%;
      width: 2.3rem;
      height: 2.3rem;
      top: -0.7rem;
    }

    .selected-bar {
      background-color: $color;
      border-radius: 8px;
    }

    .pointer-label {
      background: $color;
      top: -4.3rem;
      width: 4rem;
      height: 2.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 5px;
      font: 600 1.3rem 'Lato', Arial, sans-serif;

      &:after {
        content: '';
        width: 30%;
        height: 30%;
        transform: rotate(45deg);
        border-radius: 3px;
        background: $color;
        position: absolute;
        bottom: -3px;
        left: 1.3rem;
      }
    }
  }

  .scale {
    top: 1rem;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 600;

    span {
      border: none;
    }

    ins {
      font-size: 1.3rem;
    }
  }
}

.theme-orange {
  @include slider-theme($orange-template);
}

.theme-mint {
  @include slider-theme($mint-template);

  .back-bar .pointer-label {
    display: none;
  }
}
